
.ContentsPage {

    .PostSummaryItem {
	padding: 0;  // Reset original padding

	.PostSummaryContent {
	    margin-left: 28px;
	    margin-right: 28px;
	    margin-top: 11px;
	    margin-bottom: 19px;

	    .PostTitle {
		line-height: 1.2;
	    }

	    .TagList {
		margin-top: 11px;

		.Tag {
		    background-color: #d3e7fa;
		    padding-left: 5px;
		    padding-right: 5px;
		    padding-top: 5px;
		    padding-bottom: 5px;
		    border-radius: 1px;
		    margin-right: 6px;
		}
	    }

	    .SummaryText {
		margin-top: 12px;
		p.SummaryTextParagraph {
		    white-space: normal;
		}
	    }
	}
    }
}
